.navigation {
    height: 10vh;
    background-color: rgb(163, 216, 54);
    color: white;
    top: 0;
    border-bottom: 2px solid #ffa000;
    border-top: 2px solid #ffa000;
}

#menuItems {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

#menuItems li {
    text-align: center;
    background-color: #53c028;
    width: 150px;
    line-height: 60px;
    text-decoration: none;
    border: 1px solid aqua;
  }

  #menuItems li:hover{
    border-top: solid;
    border-bottom: solid;
  }