.navbar{
  text-align: center;
  background-color: rgb(163, 216, 54);
  text-align: end;
}

.moneySaverLogo {
  background-image: url(./moneySaverLogo.png);
  background-size: cover;
  width: 110px;
  height: 80px;
}

a {
  color: #FFF;
}
a:hover {
   color: black;
}

label{
  background-color: ghostwhite;
}

#guestInfo{
  text-align: center;
}

#gdpr{
  color: blue;
}

#familyBusiness{
  color: blueviolet;
}
